<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />


<form method="post" action="/formSubmit" enctype="multipart/form-data">

	<div class="md-col-4 md-col-offset-2">
		<input type="file" name="imageToUpload" />
		<input type="submit" class="btn btn-primary" />
	</div>

</form>